@page "/"

@if (Available)
{
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary m-2" @onclick="BuscarDispositivos">Buscar</button>
        </div>
        <div class="col">

            @if (Device is not null)
            {
                if (!Device.Gatt.Connected)
                {
                    <button class="btn btn-success m-2" @onclick="()=>ConectarDispositivo(true)">Conectar</button>
                }
                else
                {
                    <button class="btn btn-danger m-2" @onclick="()=>ConectarDispositivo(false)">Desconectar</button>
                }
            }

        </div>
    </div>
    <div class="row @(Device is null ? "d-none" : "")">
        <div class="col">
            <label>Nombre: @Device?.Name</label>
            <label>ID: @Device?.Id</label>
            <label>Estado: @((Device?.Gatt.Connected ?? false) ? "Conectado" : "Desconectado")</label>
        </div>
        <div class="col-12 @(!Device?.Gatt.Connected ?? false ? "d-none" : "")">
            <button class="btn btn-primary m-2" @onclick="ComenzarServicios">Comenzar servicios</button>
            <button class="btn btn-primary m-2" @onclick="DetenerServicios">Detener servicios</button>
        </div>
        <div class="col-12 @(Characteristic is null ? "d-none" : "")">
            <EditForm Model="Text" OnValidSubmit="Enviar">
                <InputText class="form-control" @bind-Value="Text" />
                <button class="btn btn-primary m-2">Enviar</button>
                <button class="btn btn-primary m-2" @onclick="PruebaImagen">IMAGEN</button>
            </EditForm>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <p class="text-danger fw-bold">
                El servicio bluetooth no está disponible para este dispositivo.
            </p>
        </div>
    </div>
}
<div class="row @(string.IsNullOrEmpty(Error) ? "d-none" : "")">
    <div class="col text-danger">
        @Error
        <button type="button" class="btn-close" @onclick="()=> Error = string.Empty"></button>
    </div>
</div>
<div class="row">
    <div class="col text-info">
        <button class="btn btn-primary m-2 @(Logs.Any() ? "" : "d-none")" @onclick="() => Logs.Clear()">Clear log</button>
        <ul>
            @foreach (var log in Logs)
            {
                <li>@log</li>
            }
        </ul>
    </div>
</div>
